[Unit]
Description=details daemon
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt
ExecStart=/usr/bin/python /Monitor_systemd/custom/custom.py
Restart=always

[Install]
WantedBy=multi-user.target
