[Unit]
Description=details daemon
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt
ExecStart=python /Monitor_systemd/details/acquisition.py
Restart=always

[Install]
WantedBy=multi-user.target
